<span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-plus" viewBox="0 0 20 20">
    <path d="M10 4v12M4 10h12" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round"/>
  </svg>
</span>
