<span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-plus" viewBox="0 0 16 16"><path d="M8 1v14M1 8h14" stroke-width="2" stroke="#000" fill="none"/></svg>
</span>
